h1 {
  font-family: 'Sigmar One', cursive;
  text-align: center;
  color: #c9c9ff;
  margin-top: 0px;
  margin-bottom: 30px;
}

.magic-number {
  font-family: 'Nobile', sans-serif;
  font-size: 28px;
}

.gems {
  text-align: center;
}

.gems img {
  border: 5px solid #c9c9ff;
  border-radius: 20px;
  margin: 25px;
  cursor: pointer;
}

.wins-losses {
  font-size: 24px;
  font-family: 'Nobile', sans-serif;
}

.your-score {
  border: 5px solid #c9c9ff;
  border-radius: 20px;
  text-align: center;
  padding: 15px;
}

.buttons {
  font-family: 'Nobile', sans-serif;
  text-align: center;
  margin: 10px;
}


.your-score {
  font-family: 'Nobile', sans-serif;
  font-size: 28px;
}

#totalNum {
  font-family: 'Nobile', sans-serif;
  font-size: 34px;
}

.my-btn {
  margin-left: 15px;
  background-color: #7fb8e5;
}

/* More info animation===========================================================*/
.slide {
  background-color: #7fb8e5;
}

.box {
  display: block;
  background: 	#e1f7d5;
}

#fade-in {
  height: 70px;
  width: 100%;
  opacity: 0;
  transition: all .95s ease;
}

#fade-in.show {
  font-family: 'Nobile', sans-serif;
  font-size: 18px;
  opacity: 1;
  height: 70px;
  width: 100%;
}
